@media only screen and(max-width: 500px) {
    .container{
        .text-field {
            width: 100%;
            align-self: center;
        }
    }

}
@media only screen and(max-width: 500px) {
        .img-fluid{
            width: 100%;

        }
    }

