@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.section-padding{
    padding:20px;
}
.container{
    max-width: 1200px;
    margin:auto;
    background-color: rgba(249, 249, 248, 0.85);
    padding: 20px 0;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



}
.text-field{
    width: 50%;
    align-self: center;
}
.logo{
    width: 20%;
}
nav{
    width: 70%;
}
.menu{
    display: flex;
    gap: 10px;
}
li{
    list-style: none;
    a{
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        &:hover{
            color: greenyellow;
        }
    }
}
.btn{
    width: 150px;
    height: 30px;
    background-color: #1aff00;
    color: black;
    border: none;
    &:hover{
        background-color: #00ff9d;
        color: white;
    }
}
.text{
    width: 200px;

}
.my-2{
    padding: 10px;
}
.my-3{
    padding: 50px;
}
.img-fluid {

    width: 30%;
    margin-top:50px;
    margin: auto;

}
.title{
    font-size: 70px;
}
.bg-secondary{
    color: rgba(26, 255, 0, 0.48);
    font-size: 58px;
}
.bg-border{
    border:3px solid rgba(26, 255, 0, 0.48);
}
.bg-primary{
color: #1aff00;
    text-transform: uppercase;
}

.j-between{
    justify-content: space-between;
}
.btn-2{
    width: 150px;
    height: 50px;
    background-color: #1aff00;
    color: white;
    border: none;
    &:hover{
        background-color: #00ff9d;
        color: white;
    }

}
.radius-4x {
    border-radius: 10px;
}
.text-2{
    font-size: 50px;
}
.py-2{
    padding:50px;
}
.card{
    width: 30%;
 padding: 50px;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;

    }

}
.fa-calendar{

    font-size: 20px;
    width: 20%;

}
.location{
    color: #1aff00;
}
.fa{

    width: 70px;
    font-size: 90px;

}
.title-md{
    font-size: 20px;
    color: black;
}
.text-md {
    font-size: 20px;
    color: greenyellow;
}
.form-input {
margin: auto;
    display: block;
    width: 30%
}
.checkbox{
    width: 50px;
    display: flex;
}
.icon{
   width: 50px;
}
input{
    width: 100%;
}
.text-small{
    font-size: 15px;
    color:black;
}
.align-center{
    text-align: center;
}
.mt{
    margin-top: 20px;
}